*{

    margin: 0;
    padding:0;
}

.leftLogin{
    width: 30%;
    height: 100vh;
    background-color: #8D91F4;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}


.rightLogin{
    padding-top: 100px;
    margin-left:400px ;
    /* text-align: center; */
    width: 50%;
    height: 80vh;
}

input{
    border: 0px;
    margin-bottom: 40px;
    margin-top: 10px;
    width: 250px;
    height: 17px;
    border-radius: 10px;
    padding: 10px;
    background-color: #afb1da;
}
label{
    font-size: 20px;
    margin-bottom: 30px ;
}

button:hover{
    opacity: 0.8;
}

a{
    text-decoration: none;
}